# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db